body{
    background-image: blue;
    font-family: Arial;
    text-align: center;
}

#title{
    color: darkblue;
}

.profile img{
    border-radius: 10px;
    margin: 10px;
}

table{
    margin: auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
    padding: 8px;
}

div{
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

a{
    color: blue;
    text-decoration: none;
}